modules = ["nodejs-20", "rust", "web"]

[nix]
channel = "stable-25_05"

[agent]
expertMode = true

[run]
command = "cargo run"
workdir = "railway-rs"

[packager]
language = "rust"

[[ports]]
localPort = 1
externalPort = 4200

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 3111
externalPort = 5173

[[ports]]
localPort = 3411
externalPort = 6000

[[ports]]
localPort = 3456
externalPort = 3001

[[ports]]
localPort = 3457
externalPort = 3002

[[ports]]
localPort = 3471
externalPort = 5000

[[ports]]
localPort = 8799
externalPort = 3003

[[ports]]
localPort = 24678
externalPort = 80

[deployment]
deploymentTarget = "cloudrun"
